
$color-border-1: #138df0e9;
$color-border-2: #75b7ec;
$color-border-3: #125b97;
$size-1: 4px;
$size-2: 8px;

$icon-search: url("icons/searchicon.png");

$text-colors: (
    "title": #202634,
    "section": #d1af90,
    "input": #d2c98c,
);
$bg-colors: (
    "title": #fd52b3e6,
    "section": #a4f2fe,
    "input": #f9dd53,
    "focused" : rgba(255, 55, 0, 0.441),
);

$border-colors: (
    "title": #39284a,
    "section": #17a2b8,
    "input": #ffc107,
);

