$primcolor: rgb(121, 16, 212);

$section-color: rgba(40, 21, 2, 0.877);
$global-font: Helvetica;
$section-items-border: 1px solid rgb(143, 251, 161);

$title-color: #cfab09e3;
$title-font: sans-serif;
$input-color: #4313f089;
