@use "sass:map";
@import "variables";
@import "mixins";
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100shw;
    height: 100svh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section{
    @include bordered("section");
    @include text("section");
    height: 30%;
    width: 70%;
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    justify-content: space-around;
    align-items: center;
    //bg
    background-color: map-get($map: $bg-colors, $key: "section" );
    
    title{
        @include bordered("title");
        @include text("title");
        padding: $size-1 ;
        display: flex;
        justify-content: center;
        height: fit-content;
        width: fit-content;
        background-color: map-get($map: $bg-colors, $key:"title" );
        
    }    
    .input{
        @include bordered("input");
        @include text("input");
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 45%;
        width: 60%;
        background-color: map-get($map: $bg-colors, $key:"input" );
        :focus{
            width: 80%;
            @include focused();
        }
    }
    
    
}

