@import "./variables";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100shw;
    height: 100svh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section{
    font-family:$global-font;
    height: 30%;
    width: 70%;
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    justify-content: space-around;
    align-items: center;
    background-color: $section-color;

    .title{
        
        height: 30%;
        width: 80%;
        font-family: $title-font;
        text-align: center;
        background-color: $title-color;
        border: $section-items-border;
    }

    .input{

        height: 45%;
        width: 60%;
        text-align: center;
        font-family: $global-font;
    }
}
