@import "./variables";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100shw;
    height: 100svh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section{
    font-family:$global-font;
    height: 30%;
    width: 70%;
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    justify-content: space-around;
    align-items: center;
    background-color: $section-color;

    .title{
        
        height: 30%;
        width: 80%;
        font-family: $title-font;
        text-align: center;
        background-color: $title-color;
        color: $color-text-2;
        border: $section-items-border;
    }

    .input{

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 45%;
        width: 60%;
        text-align: center;
        font-family: $global-font;
        
        background-image: url($icon-search);
        background-position: 10px 10px;
        background-repeat: no-repeat;
        label{
            text-align: start;
            color: $color-text-1;
        }
        :focus{
            width: 80%;
            background-color: $input-color;
            border: 4px solid $color-border-3;
        }
    }
}
